.login-title{
    color: white;
    font-family: cursive;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.log{
    position: relative;
}
.first{
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-family: cursive;
}
.second{
    position: absolute;
    top: 45px;
    left: 72px;
    color: aqua;
}
.last{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: yellow;
}