<div class="bg" style="background-color:lavenderblush;">
    <section style="height: 467px; background-image: url(assets/carpenter3.jpg);background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <h4 style="padding-top: 60px;font-size:50px;font-weight: bolder; color:black">Best Carpenters In Hisar</h4>
            <pre style="font-weight: bolder; margin-top:25px;font-size: larger; color:black">
Go Cashless:Pay Online after your service PayTm and other.
                
Professionals:Inhouse Verified and Trained Professionals
                
Insurance:Upto Rs 5000 against damages
                
Service Guarantee:Service Guarantee Upto 365 Days of Service.</pre>
<button class="btn btn-outline-danger" style="margin-left:190px">Book Your Service</button>
        </div>
    </section>

    <section style="margin-top:34px">
        <div class="container" style="background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover;">
            <h3 style="text-align: center; padding-top: 50px;font-size: xx-large; font-weight: bolder;">Services under carpentry ? </h3><br><hr>
            <div class="row">
                <div class="col-4" style="padding-top: 50px;">
                    <p>Assembling Beds and sofas</p>
                    <p>Bathrooms modulation</p>
                    <p>Ceilings cover and decoration</p>
                    <p>Cupboards repairing and assembly</p>
                   <p> Door Locks assembly</p>
                    <p>Door Repairs</p>
             </div>
                <div class="col-4" style="padding-top:50px">
                    <p>Doors Stoppers - Internal and External</p>
                    <p>Gates and Fences assembly</p>
                    <p>Dining Furniture assembly and maintenance</p>
                    <p>Garden Sheds setting</p>
                    <p>Integrated Appliances Fitting and makeover</p>
                    <p>Modular Kitchens Fitting</p>
                </div>
                <div class="col-4" style="padding-top:50px">
                    <p>Robbery Damage repairing and makeover</p>
                    <p>Room Renovations on your choice</p>
                   <p> Shelving</p>
                    <p>Wardrobes fitting and repairing</p>
                   <p> Window & Frame Repair and assembly</p>
                    <p>Window Installation and replacing</p>
                </div>
            </div>
            <p style="text-align: center; font-size: x-large;color: maroon;font-weight: bolder;">**Price: After Inspection**</p>
        </div>
     
     </section>
     
     <br><hr><br>

     

<section>
  <div class="container-fluid" style="width: 100%;background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover; height: 890px;">
      <h3 style="font-weight: bolder;font-size: xx-large; text-align: center;padding-top: 50px;">Carpenters In Hisar</h3><br><hr>
  <div class="row" style="padding-top: 50px;">
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/y.png" alt="Card image cap" width="2px" height="130px">
        <div class="card-body">
          <h5 class="card-title">Yogesh</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age: 27</li>
          <li class="list-group-item">Gender: Male</li>
          <li class="list-group-item">Address: Kaimri- Mangali Rd, Hisar, Haryana 125001</li>
          <li class="list-group-item">Ratings: ⭐⭐⭐⭐</li>
          <li class="list-group-item">Experience: 3years</li>
        </ul>
        
      </div>
      </div>
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/p.png" alt="Card image cap" width="2px" height="130px">
        <div class="card-body">
          <h5 class="card-title">Pravin Mjoka</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age: 27</li>
          <li class="list-group-item">Gender: Male</li>
          <li class="list-group-item">Address: Kamru road, Umed Vihar Colony, fatak, Hisar, Haryana 125001</li>
          <li class="list-group-item">Ratings: ⭐⭐⭐⭐</li>
          <li class="list-group-item">Experience: 5years</li>
        </ul>
       
      </div>
      </div>
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/r.png" alt="Card image cap" width="2px" height="130px">
        <div class="card-body">
          <h5 class="card-title">Raj</h5>
         
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age: 27</li>
          <li class="list-group-item">Gender: Male</li>
          <li class="list-group-item">Address: Kaimari Rd, near OBC Bank, Sector 15A, Hisar, Haryana 125001</li>
          <li class="list-group-item">Ratings: ⭐⭐⭐⭐</li>
          <li class="list-group-item">Experience: 6years</li>
        </ul>
        
      </div>
      </div>
      <div class="col-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/d.png" alt="Card image cap" width="2px" height="130px">
        <div class="card-body">
          <h5 class="card-title">Dev</h5>
        
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Age: 27</li>
          <li class="list-group-item">Gender: Male</li>
          <li class="list-group-item">Address: Near Sohan Cinema, Thandi Sadak Road, Shastri Nagar, Hisar, Haryana 125001</li>
          <li class="list-group-item">Ratings: ⭐⭐⭐⭐</li>
          <li class="list-group-item">Experience: 5years</li>
        </ul>
        
      </div>
      </div>





      </div>
  </div> 


</section>


<br><hr><br>

<section>
    <div class="container" style="background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover; height: 456px;">
        
      <h3 style="font-size: xx-large;font-weight: bolder;text-align: center;padding-top: 50px;">Frequently Asked Questions</h3><br><hr>
       
      <div style="font-weight: bolder;font-size: large;padding-left: 20px; padding-top: 50px;">What if no services are availed, how much to pay ?</div>
      <p style="font-size: large;padding-left: 20px; color:slategrey"> In such case nothing is to be paid.</p>

      <div style="font-weight: bolder;font-size: large;padding-left: 20px;padding-top: 50px;">Is there any Guarantee on the service provided ?</div>
      <p style="font-size: large;padding-left: 20px; color:slategrey"> Yes , a 30-day Guarantee is provided.</p>

    </div>

</section>

<section style="margin-top: 80px;">
    <h3 style="text-align: center;">Give Us a Chance To Serve You!!!!!</h3>
</section>


    </div>