<div class="container feedback">
    <div class="fbg">
        <h3 style="text-align: center; padding-top: 12px;">Feedback And Ratings</h3>
          <div class="container">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Recent Comments</h3>
                        <span class="label label-info">
                            18</span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="/assets/80.png" class="img-circle img-responsive" alt="" /></div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <a href="">Login Page Design</a>
                                            <div class="mic-info">
                                                By: <a href="#">Shivam Patel</a> on 12 July 2021
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            Awesome design and Attractive
                                        </div>
                                        <div class="action">
                                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                            Edit
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                                            Okay
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="/assets/80.png" class="img-circle img-responsive" alt="" /></div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <a href="">Layouts Design</a>
                                            <div class="mic-info">
                                                By: <a href="#">Rahul Gupta</a> on 10 July 2021
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                        </div>
                                        <div class="action">
                                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                                Edit
                                                </button>
                                                <button type="button" class="btn btn-success btn-xs" title="Approved">
                                                Okay
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                                Remove
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="/assets/80.png" class="img-circle img-responsive" alt="" /></div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <a href="">Cool Website</a>
                                            <div class="mic-info">
                                                By: <a href="#">Nikhil Garg</a> on 01 July 2021
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                        </div>
                                        <div class="action">
                                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                                Edit
                                                </button>
                                                <button type="button" class="btn btn-success btn-xs" title="Approved">
                                                Okay
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                                Remove
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary btn-sm btn-block" style="font-size: 16px;" role="button">
                        More</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>