<div class="bg">
    <h3 >List of Service Professionals</h3>
    <!-- <tr *ngFor="let row of dataList, let i = index">
            <td>{{i+1}}</td>
            <td>{{row.seed_name}}</td>
            <td>{{row.seed_des}}</td>
            <td>{{ row.seed_price}}</td>
            <td><a href="javascript: void(0);" [routerLink]="['/dashboard/editseed', row._id]"
                    class="btn btn-primary btn-sm" style="margin-right: 3px;">
                    Edit
                </a>
                <a href="javascript: void(0);" (click)="delete(row._id)" class="btn btn-primary btn-sm"
                    style="margin-right: 3px;">
                    Delete
                </a>

            </td>
        </tr>-->
    
    <div class=block>
    <div class="block1">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/e1.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Kamlesh</h5>
                     
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span>Service Type: </span>Electrician </li>
                      <li class="list-group-item"><span>Contact Number: </span>#####</li>
                      <li class="list-group-item"><span>City: </span>#####</li>
                      <li class="list-group-item"><span>Registed At Date: </span>#####</li>
                      <li class="list-group-item"><span>Charges per Service: </span>#####</li>
                    </ul>
                    <div class="row">
                    <button class="btn-primary col-5" style="margin-left: 25px;">Edit</button>
                    <button class="btn-danger col-5">Remove</button>
                    </div>
                  </div>
    
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/p1.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Riya Verma</h5>
                     
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><span>Service Type: </span> Plumber </li>
                      <li class="list-group-item"><span>Contact Number: </span>#####</li>
                      <li class="list-group-item"><span>City: </span>#####</li>
                      <li class="list-group-item"><span>Registed At Date: </span>#####</li>
                      <li class="list-group-item"><span>Charges per Service: </span>#####</li>
                    </ul>
                    <div class="row">
                      <button class="btn-primary col-5" style="margin-left: 25px;">Edit</button>
                      <button class="btn-danger col-5">Remove</button>
                      </div>
                  </div>
                  </div>
                  
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/c1.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Dinesh</h5>
                             
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><span>Service Type: </span> Carpenter </li>
                              <li class="list-group-item"><span>Contact Number: </span>#####</li>
                              <li class="list-group-item"><span>City: </span>#####</li>
                              <li class="list-group-item"><span>Registed At Date: </span>#####</li>
                              <li class="list-group-item"><span>Charges per Service: </span>#####</li>
                            </ul>
                            <div class="row">
                              <button class="btn-primary col-5" style="margin-left: 25px;">Edit</button>
                              <button class="btn-danger col-5">Remove</button>
                              </div>
                          </div>
                  </div>
    
                  
                  </div>
            </div>
           
            
    <div class="block2">
        <div class="row">
            <div class="col-4">
               
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/e2.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Mohit</h5>
                             
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><span>Service Type: </span> Electrician</li>
                              <li class="list-group-item"><span>Contact Number: </span>#####</li>
                              <li class="list-group-item"><span>City: </span>#####</li>
                              <li class="list-group-item"><span>Registed At Date: </span>#####</li>
                              <li class="list-group-item"><span>Charges per Service: </span>#####</li>
                            </ul>
                            <div class="row">
                              <button class="btn-primary col-5" style="margin-left: 25px;">Edit</button>
                              <button class="btn-danger col-5">Remove</button>
                              </div>
                          </div>
            </div>
            <div class="col-4">
               
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/p2.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Vinod</h5>
                             
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><span> Service Type: </span> Plumber</li>
                              <li class="list-group-item"><span>Contact Number: </span>#####</li>
                              <li class="list-group-item"><span>City: </span>#####</li>
                              <li class="list-group-item"><span>Registed At Date: </span>#####</li>
                              <li class="list-group-item"><span>Charges per Service: </span>#####</li>
                            </ul>
                            <div class="row">
                              <button class="btn-primary col-5" style="margin-left: 25px;">Edit</button>
                              <button class="btn-danger col-5">Remove</button>
                              </div>
                          </div>
            </div>
            <div class="col-4">
               
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/c2.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Sonu</h5>
                             
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><span> Service Type: </span> Carpenter</li>
                              <li class="list-group-item"><span>Contact Number: </span>#####</li>
                              <li class="list-group-item"><span>City: </span>#####</li>
                              <li class="list-group-item"><span>Registed At Date: </span>#####</li>
                              <li class="list-group-item"><span>Charges per Service: </span>#####</li>
                            </ul>
                            <div class="row">
                              <button class="btn-primary col-5" style="margin-left: 25px;">Edit</button>
                              <button class="btn-danger col-5">Remove</button>
                              </div>
                          </div>
            </div>
        </div>
    </div>
    </div><br/><br/>


        <table class="table table-bordered">
          <thead>
              <th>S.No</th>
              <th>Person Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Age</th>
              <th>Service</th>
              <th>Charges/Service</th>
              <th>Address</th>
              <th>Action</th>
          </thead>
          <tbody>
      
              <tr *ngFor="let row of dataList, let i = index">
                  <td>{{i+1}}</td>
                  <td>{{row.person}}</td>
                  <td>{{row.email}}</td>
                  <td>{{ row.phone}}</td>
                  <td>{{row.age}}</td>
                  <td>{{ row.service}}</td>
                  <td>{{ row.charges}}</td>
                  <td>{{row.city}}</td>
                  <td><a href="javascript: void(0);" [routerLink]="['/dashboard/editperson', row._id]"
                          class="btn btn-primary btn-sm" style="margin-right: 3px;">
                          Edit
                      </a>
                      <a href="javascript: void(0);" (click)="delete(row._id)" class="btn btn-primary btn-sm"
                          style="margin-right: 3px;">
                          Delete
                      </a>
      
                  </td>
              </tr>
          </tbody>
      
      </table><br/><br/>
    
    </div>