<div class="bg" style="background-image: url(/assets/skin_background.jpg); background-repeat: no-repeat; background-size: cover;">
    <h1  style="padding-left: 589px; padding-top: 70px;"> Feedback Form</h1>
<div class="container" style="padding-top:38px; padding-bottom: 45px;">
    <form>
        <div class="form-group">
          <label for="exampleInputName1" style="color:white; font-weight: bolder;" >Name </label>
          <input type="text" class="form-control" id="exampleInputName1" aria-describedby="TextHelp" placeholder="Enter Name">
         
        </div>
        <div class="form-group">
          <label for="exampleInputNumber1" style="color:white; font-weight: bolder;">Contact Number </label>
          <input type="number" class="form-control" id="exampleInputNumber1" aria-describedby="NumberHelp" placeholder="Enter Contact Number">
          
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1" style="color:white; font-weight: bolder;">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted" style="color:red; font-weight: bolder;">We'll never share your email with anyone else.</small>
        </div>
       
        <div class="form-group">
            <label for="exampleFormControlSelect1" style="color:white; font-weight: bolder;">Service Type Taken</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Plumber</option>
              <option>Electrician</option>
              <option>Carpenter</option>
              
            </select>
          </div>  
          <div class="form-group">
        <label for="exampleInputService1" style="color:white; font-weight: bolder;">Feedback Type</label>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
            <label class="form-check-label" for="exampleRadios1" style="color:white; font-weight: bolder;">
              Comments
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2" style="color:white; font-weight: bolder;">
              Suggestions
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2" style="color:white; font-weight: bolder;">
              Questions
            </label>
          </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1" style="color:white; font-weight: bolder;">Describe Your Feedback</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        
        <button type="submit" class="btn btn-success" style="margin-left: 510px;">Submit</button>
      </form>
</div>


</div>