<div class="bg">
    <div  style="background-color: dimgray;height: 90px;">

    <h3 style="text-align: center;padding-top: 30px; font-size: xx-large;font-weight: bolder;color: white;">ABOUT US</h3>

</div>

<div style="margin-top: 60px; width:100%">
    <div class="container" style=" background-color:white; height:500px;">
        <h3 style="text-align: center; padding-top: 50px;font-size:xx-large;font-weight: bolder;">Who We Are</h3><br><hr>
        <p style="font-size:large; padding-top: 50px;">
        HouseCrew is Hisar based e-com Company, founded in 2021 by group of aspirants with consideration to put the world in more comfort zone via weaving new ideas and implementing it at ground level. The Platform helps Customers book reliable & high quality services - Plumber , Electrician , Carpenter - delivered by trained professionals conveniently at home.
        </p>
        <p style="font-size: large;">
            We provide a platform that allows skilled and experienced professionals to connect with users looking for specific services.
        </p>

    </div>

    <div style="margin-top:60px; width:100%">
        <div class="container"  style=" background-color:white; height:350px;">
            <h3 style="text-align: center; padding-top: 50px;font-size:xx-large; font-weight: bolder;">Our Aim</h3><br><hr>
            <p style="font-size:large; padding-top: 50px;">Our Aim is to solve the day’s problem of finding a local professional for fixing basic home repair problems, and to bring a change in lives of the hundreds and thousands of professionals who are skilled but jobless, or have to wander a lot to get a customer case.</p>
        </div>
    </div>




</div>


<div>
    <div class="container">
        <h3 style="padding-left: 45px; padding-top: 57px;font-size:xx-large;font-weight: bolder;">Our Team</h3>
        <div class="row" style="margin-bottom: 23px;">
            <div class="col-2"><img src="assets/IMG_20210714_101719.jpg" width="150px" ></div>
            <div class="col-8">
                <h6 style="padding-top:13px; font-size: xx-large;font-weight: bolder;">Jatin Garg</h6>
                <p >Co-Founder</p>
                <p >Manages Techinal Work</p>
                </div>
        </div>

        <div class="row" style="margin-bottom: 23px;">
            <div class="col-2"><img src="assets/IMG_20210714_103030.jpg" width="150px" height="150px" ></div>
            <div class="col-8">
                <h6 style="padding-top:13px; font-size: xx-large;font-weight: bolder;">Harshita Joshi</h6>
                <p >Co-Founder</p>
                <p >Manages Techinal Work</p>
               
            </div>
        </div>
        
        <div class="row" style="margin-bottom: 23px;">
            <div class="col-2"><img src="assets/IMG_20210714_120804.jpg" width="150px" ></div>
            <div class="col-8">
                <h6 style="padding-top:13px; font-size: xx-large;font-weight: bolder; ">Himanshu</h6>
                <p >Co-Founder</p>
                <p >Manages Techinal Work</p>
            </div>
        </div>
        
        <div class="row" style="margin-bottom: 23px; ">
            <div class="col-2"><img src="assets/IMG_20210714_120748.jpg" width="150px" ></div>
            <div class="col-8">
                <h6 style="padding-top:13px; font-size: xx-large;font-weight: bolder;">Rohit</h6>
                <p >Co-Founder</p>
                <p >Manages Techinal Work</p>
        </div>
    </div>
</div>



</div>