<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">HouseCrew</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        
        
    
      </ul>
      <form class="form-inline my-2 my-lg-0">
       
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 9px;"><a class="text-reset" routerLink="/login">Log In</a></button>
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><a class="text-reset"routerLink="/register">Sign Up</a></button>
       
      </form>
    </div>
  </nav>