.menu{
    background-color: aliceblue;
}
.menu a{
    display: block;
    background-color: aliceblue;
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
}
.menu a:hover{
    background-color: aquamarine;
}