th, td {
    padding: 15px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .serve{
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.5rem;
    background: #fff;
}