<div class="bg" style="background-color:lavenderblush;">
    <section style="height: 467px; background-image: url(assets/electrician3.jpg);background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <h4 style="padding-top: 60px;font-size:50px;font-weight: bolder; color: black;">Best Electricians In Hisar</h4>
            <pre style="font-weight: bolder; margin-top:25px;font-size: larger; color:black">
Go Cashless:Pay Online after your service PayTm and other.
                
Professionals:Inhouse Verified and Trained Professionals
                
Insurance:Upto Rs 5000 against damages
                
Service Guarantee:Service Guarantee Upto 365 Days of Service.</pre>
<button class="btn btn-outline-danger" style="margin-left:190px">Book Your Service</button>
        </div>
    </section>
    <section style="margin-top:34px">
        <div class="container" style="background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover;">
            <h3 style="text-align: center; padding-top: 50px;font-size: xx-large; font-weight: bolder;">Services under Electrical Repairing? </h3><br><hr>
            <div class="row">
                <div class="col-4" style="padding-top: 50px;">
                   <p> Air Condition repairing</p>
                   <p>Home Appliance Repairs</p>
                   <p>Cooler repairing replacement and installation</p>
                   <p>Electric Heaters replacement and repairing</p>
                   <p>Electrical Fault Finding</p>
                   <p>Emergency Lighting</p>
                   <p>Extensions and Rewiring</p>
                 
             </div>
                <div class="col-4" style="padding-top:50px">
                    <p>Fan Repairing and installation</p>
                   <p> Fuse Box Replacements</p>
                    <p>Geyser repairing and installation</p>
                    <p>Stabilizer installation and repairing</p>
                   <p> Home Theatres repairing</p>
                    <p>Inverter installation and repairing</p>
                   <p> Kitchen appliances repairing</p>
                </div>
                <div class="col-4" style="padding-top:50px">
                    <p>Power Shower Installation</p>
                    <p>Security Lighting</p>
                    <p>Smoke Alarms</p>
                   <p> Sockets</p>
                    <p>Switches</p>
                    <p>Telephone Points</p>
                    <p>Television installation and repairing</p>
                </div>
            </div>
            <p style="text-align: center; font-size: x-large;color: maroon;font-weight: bolder;">**Price: After Inspection**</p>
        </div>
     
     </section>
     
     <br><hr><br>

     <section>
        <div class="container-fluid" style="width: 100%;background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover;height: 890px;">
            <h3 style="font-weight: bolder;font-size: xx-large; text-align: center;padding-top: 50px;">Electricians In Hisar</h3><br><hr>
        <div class="row" style="padding-top: 50px;">
            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/s.png" alt="Card image cap" width="2px" height="130px">
              <div class="card-body">
                <h5 class="card-title">Sunil Kumar Electrician</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 27</li>
                <li class="list-group-item">Gender: Male</li>
                <li class="list-group-item">Address: Kaimari Rd, Near Easyday Locality, Sector 15A, Hisar, Haryana 125001  </li>
                <li class="list-group-item">Ratings:⭐⭐⭐⭐ </li>
                <li class="list-group-item">Experience: 7years</li>
              </ul>
              
            </div>
            </div>
            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/m.png" alt="Card image cap" width="2px" height="130px">
              <div class="card-body">
                <h5 class="card-title">Monu Eletrician</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 27</li>
                <li class="list-group-item">Gender: Male</li>
                <li class="list-group-item">Address: Dabra Chowk Rd, Aarcity Hisar, Hisar, Haryana 125001 </li>
                <li class="list-group-item">Ratings:⭐⭐⭐⭐</li>
                <li class="list-group-item">Experienced : 7years</li>
              </ul>
             
            </div>
            </div>
            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/g.png" alt="Card image cap" width="2px" height="130px">
              <div class="card-body">
                <h5 class="card-title">Garig Electrician</h5>
               
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 27</li>
                <li class="list-group-item">Gender: Male</li>
                <li class="list-group-item">Address: Office No. 6, RD City Center, Haryana 125001</li>
                <li class="list-group-item">Ratings:⭐⭐⭐⭐</li>
                <li class="list-group-item">Experience : 5years</li>
              </ul>
              
            </div>
            </div>
            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/p.png" alt="Card image cap" width="2px" height="130px">
              <div class="card-body">
                <h5 class="card-title">Paras</h5>
              
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Age: 27</li>
                <li class="list-group-item">Gender: Male</li>
                <li class="list-group-item">Address: Near railway station, Mehta Nagar, Hisar, Haryana 125001</li>
                <li class="list-group-item">Ratings:⭐⭐⭐⭐</li>
                <li class="list-group-item">Experience: 4years</li>
              </ul>
              
            </div>
            </div>
      
      
      
      
      
            </div>
        </div> 
      
      
      </section>
     
      <br><hr><br>

      <section>
        <div class="container" style="background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover; height: 456px;">
            
          <h3 style="font-size: xx-large;font-weight: bolder;text-align: center;padding-top: 50px;">Frequently Asked Questions</h3><br><hr>
           
          <div style="font-weight: bolder;font-size: large;padding-left: 20px; padding-top: 50px;">What if no services are availed, how much to pay ?</div>
          <p style="font-size: large;padding-left: 20px; color:slategrey"> In such case nothing is to be paid.</p>
    
          <div style="font-weight: bolder;font-size: large;padding-left: 20px;padding-top: 50px;">Is there any Guarantee on the service provided ?</div>
          <p style="font-size: large;padding-left: 20px; color:slategrey"> Yes , a 30-day Guarantee is provided.</p>
    
        </div>
    
    </section>
    
    <section style="margin-top: 80px;">
        <h3 style="text-align: center;">Give Us a Chance To Serve You!!!!!</h3>
    </section>
    




    </div>