<div class=bg>
    <div style=" height:456px ;background-image: url(assets/download.jpg); background-repeat: no-repeat;background-size:cover;">
        <div class="container" >
    
            <div class="row">
                <div class="col-5">
                    <h3 style="padding-top: 100px;color:whitesmoke; font-size: 67px;font-weight: bolder;">HouseCrew</h3>
                    <p style="font-style: italic;color:khaki; font-weight: bolder; font-size: 34px;">At your Service</p>
                    <p style="color:lightyellow">"Delivering Best Quality Services, Securing Your Smile"</p>
                    <p style="color: lightyellow;">Customer Safety is Our Priority</p>
                </div>
                <div class="col-7">
                    <img src="assets/house.png"style="padding-top:45px;">
                </div>
            </div>
    
    
    
        </div>
    </div>
    
    <section class="services">
        <h3 style="text-align: center; padding-top: 30px;font-size: xx-large;font-weight: bolder;">Home Services</h3>
        <div class=container style="padding-top:19px;">
            <div class="row">
                <div class=col-4>
            
        <div class="card" style="width: 18rem;height: 259px;">
            <a routerLink="/plumber"><img class="card-img-top" src="assets/download1.png" alt="Card image cap" height="200px"></a>
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Plumber</h5>
              
            </div>
          </div>
          </div>
          <div class="col-4">
        <div class="card" style="width: 18rem;height: 259px;">
            <a routerLink="/electrician"><img class="card-img-top" src="assets/images.png" alt="Card image cap" height="200px"></a>
            <div class="card-body">
              <h5 class="card-title"style="text-align: center;">Electrician</h5>
              
          </div>
          </div>
          </div>
    
          <div class="col-4">
        <div class="card" style="width: 18rem;height: 259px;">
            <a routerLink="/carpenter"><img class="card-img-top" src="assets/carpenter.jpg" alt="Card image cap" height="200px"></a>
            <div class="card-body">
              <h5 class="card-title"style="text-align: center;">Carpenter</h5>
              
            </div>
          </div>
          </div>
    </div>
    </div>
    </section>
    <br><br>
    <hr>
    
    
    <section class="workflow" style="margin-top: 80px;">
        <h3 style="text-align: center;font-size: xx-large;font-weight: bolder;">Our Workflow</h3>
        <p style="text-align: center; margin-top: 10px;">"Enjoy service in just three steps"</p>
         
    <div class="container">
        <div class="row">
            <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"style="text-align:center;">STEP <span class="badge badge-success">1</span></h5>
                <img class="card-img-top" src="assets/download5.png" alt="Card image cap" height="257px">
              <p class="card-text" style="text-align: center;font-weight: bolder;">Schedule your Service</p>
              
            </div>
          </div>
          </div>
            <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"style="text-align:center;">STEP <span class="badge badge-success">2</span></h5>
                <img class="card-img-top" src="assets/download6.jpg" alt="Card image cap"height="257px">
              <p class="card-text" style="text-align: center;font-weight: bolder;">Service at Home</p>
              
            </div>
          </div>
          </div>
            <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"style="text-align:center;">STEP <span class="badge badge-success">3</span></h5>
                <img class="card-img-top" src="assets/pay.png" alt="Card image cap"height="257px">
              <p class="card-text" style="text-align: center;font-weight: bolder;">Pay After Service </p>
              
            </div>
          </div>
          </div>
    
     </div>   
    </div>
    
    </section>
    
    <br><br>
    <hr>
    
    <section class="us" style="margin-top: 90px;" >
    
        <h3 style="padding-left: 50px;font-weight: bolder;">Why Choose Us?</h3>
        <p style="padding-left: 50px;font-weight: bolder;font-size:large;">Our Key Features</p>
        
        <div class="container"style="padding-top:30px">
         
            <div class="row">
    
            <div class="col-4">
             
                <div class="row">
    
                    <div class="col-3">
                        <img src="assets/expert.png" width="80px">
                    </div>
                    <div class="col-9">
                        <b>Expert Technician</b>
                        <p>Our professionals are well trained and have on-job expertise.</p>
                    </div>
    
                </div>
         
    
    
            </div>
            <div class="col-4">
             
                <div class="row">
    
                    <div class="col-3">
                        <img src="assets/ser24.jpg" width="80px">
                    </div>
                    <div class="col-9">
                        <b>24x7 Service</b>
                        <p> Get services at your door anytime, anywhere.</p>
                    </div>
    
                </div>
         
    
    
            </div>
            <div class="col-4">
             
                <div class="row">
    
                    <div class="col-3">
                        <img src="assets/cash.png" width="80px">
                    </div>
                    <div class="col-9">
                        <b>Reasonable Price</b>
                        <p>On-time service through expert hands on Pocket friendly cost.</p>
                    </div>
    
                </div>
         
    
    
            </div>
    
         
    
    
    
    
    
            </div>
    
    
    
    
    
        </div>
    
    
    </section>
    
    <section style="margin-top: 25px;">
        <h3 style="text-align: center;">Give Us a Chance To Serve You!!!!!</h3>
    </section>
    
    
    
    
    </div>