<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 33.33%;
          padding: 5px;
          margin: auto;
        }
        
        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }

        body{
            margin: 0;
            padding: 0;
        }
        </style>
</head>
<body>
    
</body>
<div class="container" style="background-color:cadetblue" >
    <div id="image">
        <img src="https://cdn.lifeasy.in/Fileupload/MetaService/BigPageImage/Plumber.jpg" style=" display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;" alt="this is an image" width=" " height=" ">
    </div>
    <br>
    <br>
    <div style="background-color:cornflowerblue;" >
    <hr style="background-color: black;">
    <h2 style="text-align: center; ">Service providers</h2>
    <hr>
    </div>


   

<div class="row">

  <div class="column">
    <img src="https://us.123rf.com/450wm/kurhan/kurhan1105/kurhan110500196/9466618-plumber.jpg?ver=6" alt="plumber1" style="width:100%">
<pre style="font-size: 2vw; text-align:left;"><b>
Nname:Sam Wilson
phone no.:7867942356
price: 28$/hour
Experience:8 years
Rating:⭐⭐⭐⭐(99)
<button class="btn-success" onclick=alert("Booked")>Book Now</button>
</b>
</pre>
  </div>

  <div class="column">
    <img src="https://mh-1-stockagency.panthermedia.net/media/previews/0012000000/12487000/12487766_preview.jpg" alt="plumber2" style="width:100%">
<pre style="font-size: 2vw;text-align: left;">
<b>
Name: Natasha 
Phone No.:6776892312
Price: 25$/hour
Experience:5 years
Rating:⭐⭐⭐(232)
<button class="btn-success" onclick=alert("Booked"); >Book Now</button>
</b>
</pre>
  </div>

  <div class="column">
    <img src="https://us.123rf.com/450wm/auremar/auremar1209/auremar120905269/15409433-female-plumber.jpg?ver=6" alt="plumber3" style="width:100%">
<pre style="font-size: 2vw; text-align: left;">
<b>
Name:Alisa maximoff
phone no.:6162232454
price: 26.50$/hour
Experience:4 years
Rating:⭐⭐⭐(543)
<button class="btn-success" onclick=alert("Booked"); >Book Now</button>
</b>
</pre>
  </div>
  </div>

<div class="row">
    <div class="column">
      <img src="https://us.123rf.com/450wm/auremar/auremar1205/auremar120506274/13834853-plumber-holding-pipe-bending-tool.jpg?ver=6" alt="plumber1" style="width:100%">
<pre style="font-size: 2vw; text-align: left;">
<b>
Name:Harry 
Phone no.:3454545667 
Price: 19$/hour
Experience:2 years
Rating:⭐⭐(121)
<button class="btn-success" onclick=alert("Booked"); >Book Now</button>
</b>
</pre>
    </div>

    <div class="column">
      <img src="https://mh-2-stockagency.panthermedia.net/media/previews/0028000000/28065000/28065670_preview.jpg" alt="plumber2" style="width:100%">
<pre style="font-size: 2vw; text-align: left;">
<b>
Name:Oliver 
Phone No.:4589987890
Price: 17$/hour
Experience:3 years
Rating:⭐⭐(232)
<button class="btn-success" onclick=alert("Booked"); >Book Now</button>
</b>
</pre>
    </div>

    <div class="column">
      <img src="https://us.123rf.com/450wm/ginasanders/ginasanders1105/ginasanders110500552/9637760-a-plumbing-repair-a-broken-sink-in-bathroom.jpg?ver=6" alt="plumber3" style="width:100%">
<pre style="font-size: 2vw;text-align: left;">
<b>
Name:Gorge 
Phone No.:5676787565
price: 12$/hour
Experience:4 years 
Rating:⭐⭐(403)
<button class="btn-success" onclick=alert("Booked"); >Book Now</button>
</b>
</pre>
</div>
</div>

     </div>

    </body>
-->
<div class="bg" style="background-color:lavenderblush;">
  <section style="height: 467px; background-image: url(assets/plumber2.jpg);background-repeat: no-repeat;background-size: cover;">
      <div class="container">
          <h4 style="padding-top: 60px;font-size:50px;font-weight: bolder;color: black;">Best Plumbers In Hisar</h4>
          <pre style="font-weight: bolder; margin-top:25px;font-size: larger; color:black">
  Go Cashless:Pay Online after your service PayTm and other.
              
  Professionals:Inhouse Verified and Trained Professionals
              
  Insurance:Upto Rs 5000 against damages
              
  Service Guarantee:Service Guarantee Upto 365 Days of Service.</pre>
  <button class="btn btn-outline-danger" style="margin-left:190px">Book Your Service</button>
      </div>
  
  </section>
  
  
  <section style="margin-top:34px">
     <div class="container" style="background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover;">
         <h3 style="text-align: center; padding-top: 50px;font-size: xx-large; font-weight: bolder;">Services under plumbing? </h3><br><hr>
         <div class="row">
             <div class="col-4" style="padding-top: 50px;"><p>Minor plumbing repair</p>
              <p>Bathroom fittings installation</p>
              <p>Kitchen sink installation</p>
              <p>Water motor installation</p>
              <p>Water line connection establishment</p>
              <p>Sewer line connection and cleaning</p>
              <p>Bathroom Refurbishment</p>
              <p>Bathtub Installations</p>
              <p>Bidets (Electronic & Manual)</p>
              <p>Blocked Toilets and Sinks cleaning and drainingMinor plumbing repair</p>
              <p>Bathroom fittings installation</p>
              <p>Kitchen sink installation</p>
              <p>Water motor installation</p>
              <p>Water line connection establishment</p>
              <p>Sewer line connection and cleaning</p>
              <p>Bathroom Refurbishment</p>
              <p>Bathtub Installations</p>
              <p>Bidets (Electronic & Manual)</p>
              <p>Blocked Toilets and Sinks cleaning and draining</p>
          </div>
             <div class="col-4" style="padding-top:50px">
              <p>Blocked Pipes and Drains removing and installation</p>
              <p>Burst Pipes removal and repairing</p>
              <p>Hot Water Problems treatment by chemical method</p>
              <p>Immersion Heaters installation and repairing</p>
              <p>Kitchen Refurbishment</p>
              <p>Leaks maintenance</p>
              <p>Overflows treatment</p>
              <p>Pipe work Replacement</p>
              <p>Pumps installation and removal</p>
              <p>Shower Enclosures installation and repairing</p>
             </div>
             <div class="col-4" style="padding-top:50px">
              <p>Shower Pressure Adjustments</p>
              <p>Sinks and Basins cleaning</p>
              <p>Stopcock repairing and replacement</p>
             <p> Tap Repairs and Installations</p>
              <p>Toilet Repairs and Installations</p>
              <p>Washing Machine, Dishwasher Fitting</p>
             <p> Water Heater Repairs & Installation</p>
              <p>Water Softeners and water purifier installation and cleaning</p>
              <p>Water Tank Installation & Cleaning</p>
             </div>
         </div>
         <p style="text-align: center; font-size: x-large;color: maroon;font-weight: bolder;">**Price: After Inspection**</p>
     </div>
  
  </section>
  
  <br><hr><br>
  
  <section>
    <div class="container-fluid" style="width: 100%;background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover; height: 890px;" >
        <h3 style="font-weight: bolder;font-size: xx-large; text-align: center;padding-top: 50px;">Plumbers In Hisar</h3><br><hr>
    <div class="row" style="padding-top: 50px;">
        <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/s.png" alt="Card image cap" width="2px" height="130px">
          <div class="card-body">
            <h5 class="card-title">Satpal</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: 25</li>
            <li class="list-group-item">Gender: Male</li>
            <li class="list-group-item">Address: Hansi, Hisar</li>
            <li class="list-group-item">Ratings: ⭐⭐⭐⭐</li>
            <li class="list-group-item">Experience: 2years</li>
          </ul>
          
        </div>
        </div>
        <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/s.png" alt="Card image cap" width="2px" height="130px">
          <div class="card-body">
            <h5 class="card-title">Sant</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: 27</li>
            <li class="list-group-item">Gender: Male</li>
            <li class="list-group-item">Address: Urban Estate 2 Hisar,Hisar</li>
            <li class="list-group-item">Ratings:⭐⭐⭐⭐</li>
            <li class="list-group-item">Experience: Freasher</li>
          </ul>
         
        </div>
        </div>
        <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/n.png" alt="Card image cap" width="2px" height="130px">
          <div class="card-body">
            <h5 class="card-title">Naveen</h5>
           
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: 27</li>
            <li class="list-group-item">Gender: Male</li>
            <li class="list-group-item">Address:Hisar,Hisar</li>
            <li class="list-group-item">Ratings:⭐⭐⭐⭐</li>
            <li class="list-group-item">Experienced:4years</li>
          </ul>
          
        </div>
        </div>
        <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/s.png" alt="Card image cap" width="2px" height="130px">
          <div class="card-body">
            <h5 class="card-title">Smart Handyman </h5>
          
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: 27</li>
            <li class="list-group-item">Gender: Male</li>
            <li class="list-group-item">Address:No.2,Hisar Nai Mandi,Hisar-125001</li>
            <li class="list-group-item">Ratings:⭐⭐⭐⭐</li>
            <li class="list-group-item">Experienced: 9years</li>
          </ul>
          
        </div>
        </div>
  
  
  
  
  
        </div>
    </div> 
  
  
  </section>
  <br><hr><br>
  
  <section>
      <div class="container" style="background-image: url(assets/maxresdefault.jpg);background-repeat: no-repeat;background-size: cover; height: 456px;">
          
        <h3 style="font-size: xx-large;font-weight: bolder;text-align: center;padding-top: 50px;">Frequently Asked Questions</h3><br><hr>
         
        <div style="font-weight: bolder;font-size: large;padding-left: 20px; padding-top: 50px;">What if no services are availed, how much to pay ?</div>
        <p style="font-size: large;padding-left: 20px; color:slategrey"> In such case nothing is to be paid.</p>
  
        <div style="font-weight: bolder;font-size: large;padding-left: 20px;padding-top: 50px;">Is there any Guarantee on the service provided ?</div>
        <p style="font-size: large;padding-left: 20px; color:slategrey"> Yes , a 30-day Guarantee is provided.</p>
  
      </div>
  
  </section>
  
  <section style="margin-top: 80px;">
      <h3 style="text-align: center;">Give Us a Chance To Serve You!!!!!</h3>
  </section>
  
  
  
  
  </div>